<%= content_for :title do %>
  <%= "#{@campaign.display_name} campaign information" %>
<% end %>

<%= content_for :titleaux do %>
  Enter basic campaign information to get started or go back to change the campaign type
<% end %>
<div class="w-section campaign-type-section basicinformation">
  <%= form_for 'steps_campaign', url: new_campaign_path, method: :get, html: { class:'w-clearfix surround-form-div' } do |f| %>
    <div class="basic-info-div">
      <div class="w-form form-wrap">
          <%= f.hidden_field :type, value: @type %>
          <%= f.label :name, 'Campaign Name', class: 'form-label' %>
          <%= f.text_field :name, class: 'w-input form-style', placeholder: "e.g. Google's Referral Campaign", required: 'required' %>
          <%= f.label :url, 'Your Web URL', class: 'form-label' %>
          <div class="dropdown-style w-dropdown" data-delay="0">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="dropdown-text">http://</div>
              <div class="icon-style-dropdown w-icon-dropdown-toggle">
              </div>
            </div>
            <nav class="dropdown-open w-dropdown-list">
              <a class="dropdown-link w-dropdown-link" href="#">http://</a>
              <a class="dropdown-link w-dropdown-link" href="#">https://</a>
            </nav>
          </div>
          <%= f.hidden_field :url_protocol, value: 'http://' %>
          <%= f.text_field :url, class: 'w-input form-style', placeholder: 'e.g. www.google.com', required: 'required' %>
      </div>
    </div>
    <%= f.submit 'Next Step', class: 'w-button next-step-button' %>
    <%= link_to 'Back', step_one_new_campaign_path, class: 'w-button next-step-button back-btn' %>
  <% end %>
</div>
<script>
  $('.dropdown-link').click(function(event){
    $('.dropdown-text')[0].innerHTML = this.innerHTML;
    $('input[name="steps_campaign[url_protocol]"]')[0].value = this.innerHTML;
    $('.dropdown-style').trigger('w-close');
  })
</script>
